/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25-Aug-2022, 8:45:00 pm
    Author     : ACER
*/


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top:35%;
    left:50%;
    padding:30px;
    box-shadow: 5px 5px 20px 2px #c8c7c9;
    border-radius: 5px;
    width:370px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transform: translate(-50%,-20%);
}
.action{
    width:80%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}
.action ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:30px;
    list-style: none;
}
.action h2{
    color:#9e011b;
}

.action ul a{
    text-decoration: none;
    font-weight: 500;
    color:#78777a;
    border:1px solid #ffffff;
    width:70px;
    font-size: 13px;
    padding-top:2px;
    
    padding-bottom:4px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}
.action ul a:hover{
    box-shadow: 0px 0px 20px 1px #e7e7e7;
    
}



.container .wrapper{
    position: relative;
    height:60px;
}

.wrapper label{
    position: absolute;
    top:5%;
    font-size: 13px;
    left:20%;
    color:#acafe2e7;
}
.container form{
    margin-top: 30px;
}

.wrapper input{
    position: absolute;
    top:39%;
    transition: .3s ease-in-out;
    left:18%;
    padding:5px 10px;
    border:none;
    outline:none;
    border-bottom: 1px solid #010488;
}
.wrapper input:focus{
    border-bottom: 1px solid #0a018546;
}
input:focus ~ label{
    color:#9e011b;
}

.forgotpass
{
    position: absolute;
    top:50%;
    right:5%;
    font-size: 12px;
    text-decoration: none;
    color:#818081;
}

.wrapper-button input[type="submit"], .wrapper-button a,
.wrapper input[type="submit"], .wrapper a{
    text-decoration: none;
    background:#9e011b;
    border:1px solid transparent;
    color:white;
    border-radius: 2px;
    cursor: pointer;
    min-width:80px;
    padding:8px 12px;
    font-size: 13px;
    transition: .3s ease-in-out;
}

.wrapper-button
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width:80%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    
}

.wrapper-button input[type="submit"]:hover,
.wrapper input[type="submit"]:hover{
    background:#fdeaea;
    color:#9e011b;
    border:1px solid #9e011b;
    
}

.wrapper-button a
{
    padding:7px 12px;
    background:#27016e;
}

.wrapper-button a:hover
{
    background:#eeeafd;
    color:#1e019e;
    border:1px solid #1e019e;
    
}